<h1 class="text-center">Генератор картинок</h1>
<form action="/" method="post" class="mb-5"> 
    <input type="text" class="form-control mb-2" placeholder="Напиши промт" required name="prompt">
    <select name="size" class="form-control mb-2">
        <option value="256×256">1</option>
        <option value="512×512">2</option>
        <option value="1024×1024">3</option>
    </select>
    <input type="number" class="form-control mb-2" name="number" value="1">
    <button type="submit" class="btn btn-primary">Генерировать</button>
</form>

{{#if images}}
    <div class="row">
        {{#each images}}
            <div class="col-md-4 mb-3">
                <img src="{{this.url}}" class="img-fluid rounded">
            </div>
        {{/each}}
    </div>
{{/if}}