<h1 class="text-center">Вход</h1>
<form action="/auth/login" method="post" class="mb-5"> 
    <input type="email" class="form-control mb-2" placeholder="Email" required name="email">
    <input type="password" class="form-control mb-2" placeholder="Пароль" required name="password">
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<p class="text-center">Еще нет аккаунта? <a href="/auth/register">Зарегистрируйтесь</a></p>