<h1 class="text-center">Регистрация</h1>
<form action="/auth/register" method="post" class="mb-5"> 
    <input type="text" class="form-control mb-2" placeholder="Имя" required name="name">
    <input type="email" class="form-control mb-2" placeholder="Email" required name="email">
    <input type="password" class="form-control mb-2" placeholder="Пароль" required name="password">
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
<p class="text-center">Уже есть аккаунт? <a href="/auth/login">Войдите</a></p>